
.aboutWrapper{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;  
    width:100%;
}

.aboutWrapper .aboutHeading{
    color: black;
    font-size: 2rem;
    font-weight: 800;
}

.aboutWrapper .aboutContent{
    display:flex;
    justify-content: space-around;
    width:100%;
    align-items: center;
}

.aboutWrapper .aboutContent .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}