.navbarWrapper {
    /* z-index:1;
    display: flex;
    justify-content: space-around;
    height: 40px;
    font-family: var(--text-heading);
    background: #2d2d2d;
    padding: 1.5vw 0vw; */
    display: flex;
	position: fixed;
	top: 0;
	z-index: 100;
	flex-wrap: nowrap;
	width: 100%;
	justify-content: space-between;
    padding: .5vw 0vw;
	background-color: var(--accent); /* White background with 50% opacity */
    backdrop-filter: blur(8px); /* Blur effect */
    -webkit-backdrop-filter: blur(8px);
}

.navbarWrapper .navbarHeading {
    font-weight: 800;
    padding-top: 1rem;
    padding-left:1rem;
    font-size: 1.2rem;
}

.navbarWrapper .navbarHeading span {
    color: var(--secondary);
}

.navbarWrapper .navbarLinks ul {
    display: flex;
    gap: 4vw;
    font-size: 1.1rem;
    list-style: none;
    font-weight: 600;
}

.navbarWrapper .navbarLinks ul li:hover {
    color: var(--secondary);
    cursor: pointer;

}

.navbarWrapper .navbarButtons  {
    display: flex;
    padding-top: 1rem;
    padding-right:1rem;
    gap:1rem;
}

.navbarWrapper .navbarButtons button {
    height:30px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}