@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
  --primary: #f7f3f3;
  --secondary: #7c7676;
  --background: #141414;
  --navbar: #fbfafa;
  --tertiary: #070707;
  --text-heading: 'SA Triumph', sans-serif;
  --text-body: 'Fira Sans', sans-serif;
  --accent: #19181885;
  --muted: #8e888812;
  --border-radius: 8px;
  --border: rgba(52, 52, 52, 0.758);
  --border-light: rgba(255, 255, 255, 0.2);
  --danger: #c33333;
  --inter: 'Inter', sans-serif;
  --chakra: 'Chakra Petch', sans-serif;
}

html {
  height:100%;
  width:100%;
  padding: 0;
  margin: 0;
  font-family: var(--text-body);
background:rgb(252, 251, 251);
  background-repeat: no-repeat;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content:center ;
}

a{
  text-decoration: none;
  color:#141414;
}

a:hover{
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  background-color: black;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  padding: .8rem .8rem;
  border: 1px solid var(--secondary);
}

button:hover {
  background-color: var(--background);
  color: var(--secondary);
  cursor: pointer;
}



::-webkit-scrollbar {
	width: 2%;
}

::-webkit-scrollbar-track {
	background: var(--border-light);
}

::-webkit-scrollbar-thumb {
	background: var(--accent);
}